@layer base {
  noscript {
    @apply absolute top-0 z-9999;
  }

  /* html {
    https://css-tricks.com/almanac/properties/s/scrollbar-gutter/
    scrollbar-gutter: stable;
  } */

  body {
    @apply font-base h-screen touch-manipulation overflow-x-hidden break-words hyphens-auto text-black antialiased;
    image-rendering: auto;
    /* https://css-tricks.com/almanac/properties/t/text-box/ */
    text-box: trim-both cap alphabetic;

    &.is-locked {
      @apply h-auto overflow-x-hidden overflow-y-auto;
      /* 禁止反白 select-none */
    }
  }

  a,
  button,
  [tabindex] {
    @apply transition-all duration-300;
  }

  a:focus:focus-visible,
  button:focus:focus-visible,
  input:focus:focus-visible,
  select:focus:focus-visible,
  textarea:focus:focus-visible,
  [tabindex]:focus:focus-visible {
    @apply outline-primary-500 outline-2 outline-solid;
  }

  button,
  input[type='submit'],
  input[type='date'],
  input[type='checkbox'] {
    @apply cursor-pointer;
  }

  ::placeholder {
    @apply text-gray-400;
  }

  /* 移除預設的 × */
  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  /* 移除預設的上下箭頭 */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  /* 修改自動填充時的樣式 */
  /* input:-webkit-autofill,
  input:autofill {
    @apply shadow-[inset_0_0_0_2000px_white];
  } */
}
